

{{#if user }}
    <nav class="navbar navbar-light bg-light head">
      <form class="container-fluid justify-content-space-around">
        <div>
          <button type="submit" class="btn btn-sm btn-outline-secondary"><a href="/addPost">Add Post</a></button>
        </div>
        
        <div>
          <span class="navbar-text ">
          Welcom {{user}}
          </span>
        </div>
      </form>
    </nav>
{{else}}
  <nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-space-around">
      <div>
        <button type="submit" class="btn btn-sm btn-outline-secondary"><a href="/register">Register</a></button>
        <button type="submit" class="btn btn-sm btn-outline-secondary"><a href="/login">Login</a></button>
      </div>
    <span class="navbar-text ">Books Blog</span>
    </form>
  </nav>    
{{/if}}


<div class="posts">
  
  {{#if tag}}
  
    {{#each postsT}}
      
      <div class="post_card">
          
        {{#if image}}
          <img src="/images/{{image}}" class="img">
        {{else}}
          <img src="https://via.placeholder.com/200x200/258DC8/E0F6FD" alt="" >
        {{/if}}
        <h2> {{tit}}</h2>
        <p class="description" maxlength="10"> Description: <br> {{description}}</p>
        <div >
          <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/readPost?id={{id}}"> Read Post </a></button>
          <br>
          <span>Tag:
            {{#each tag}}
            <a href="/?tag={{this}}"> {{this}} </a> 
            {{/each}} 
          </span>
        </div>
        
      </div>
      
    {{/each}}

  {{else}}

      {{#each posts}}
      <div class="post_card">
          
        {{#if image}}
          <div class="imgBlock">
            <img src="/images/{{image}}"class="img">
          </div>
        {{else}}
          <img src="https://via.placeholder.com/200x200/258DC8/E0F6FD" alt="">
        {{/if}}
        <h2> {{title}}</h2>
        <p class="description" maxlength="10" >Description: <br> {{description}}</p>
        
        <div >
          <button type="button" class="btn btn-sm btn-outline-secondary"><a href="/readPost?id={{id}}"> Read Post </a></button>
          <br>
          <span>Tag:
            {{#each tag}}
            <a href="/?tag={{this}}"> {{this}} </a> 
            {{/each}} 
          </span>
        </div>
      </div>
      {{/each}}

  {{/if}}

</div> 

<div class="paginatContainer">
  {{#each pages}}
  <a href="/?page={{page}}"  id="navLink" class="pag_page"> {{page}}</a>
  {{/each}}
</div>